﻿@{
    ViewBag.Title = "Contact";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/AngularCodeAudit.js"></script>
<div ng-app="myAppAudit">
    <div ng-controller="myCtrlAudit" ng-init="GetAllAuditData()">
       
        <p class="divHead">Audit Log</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    <b>Action</b>
                </td>
                <td>
                    <b>KeyField</b>
                </td>
                <td>
                    <b>DateTime</b>
                </td>
            </tr>
            <tr ng-repeat="au in audit">
                <td>
                    {{au.Id}}
                </td>
                <td>
                    {{au.Action}}
                </td>
                <td>
                    {{au.KeyFieldID}}
                </td>
                <td>
                    {{au.DateTime}}
                </td>
                <td>
                    @*<input type="button" class="btn btn-warning" value="Update" ng-click="UpdateEmp(Emp)" />
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteEmp(Emp)" />
                        <input type="button" class="btn btn-default" value="Audit" ng-click="AuditEmp(Emp)" />*@
                </td>
            </tr>
        </table>
    </div>
</div>